main {
  width: 100%;
  max-width: 100vw;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}
body {
  background-color: #4480d5;
  color: white;
}
.container-master {
  width: 500px;
}

.select-city-redirect {
  width: 100%;
  display: flex;
}

.select-city-redirect img {
  width: 500px;
}

.tittle-select {
  width: 100%;
  height: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tittle-select p {
  color: white;
  font-size: 18px;
  margin-left: -15px;

  font-weight: bold;
  margin-bottom: 10px;
}

.tittle-select a {
  opacity: 0.8;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.5s;
}
.tittle-select a:hover {
  opacity: 1;
}

@media (max-width: 999px) {
  .select-city-redirect img {
    display: none;
  }

  .tittle-select p {
    margin-left: 0;
  }
  .select-city-redirect {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container-master {
    padding-left: 20px;
  }
}
